<div class="ui container">
  <br/>
  <div class="ui stackable container menu">
    <div class="header item">{{title}}</div>
    <a class=" item" routerLink="/dashboard">
      Dashboard
    </a>
    <a class="item" routerLink="/vineyard/form">
      Vineyard Form
    </a>
    <a class="item" routerLink="/calc">Calculation Form
    </a>
    <div class="right menu">
      <a class="ui item" routerLink="/settings">
        Settings
      </a>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui container">
      <router-outlet></router-outlet>
  </div>
</div>
