<div class="ui container">
  <br/>
  <div class="ui stackable container menu">
    <a class="header item" routerLink="/dashboard">{{title}}</a>
    <a class=" item" routerLink="/dashboard">
      Dashboard
    </a>
    <a class="item" routerLink="/vineyard/dashboard">
        Übersicht Weinberg
    </a>
    <div class="right menu">
      <a class="ui item" routerLink="/settings">
        Settings
      </a>
    </div>
  </div>
  <div class="ui container">
      <router-outlet></router-outlet>
  </div>
</div>
