<div class="ui container">
  <div class="ui equal width form">
    <h1 class="ui header">Weinberg erstellen / bearbeiten</h1>
    <div class="fields">
      <div class="field">
        <label>Weinberg</label>
        <input type="text" placeholder="Parzellenname" [(ngModel)]="location.name">
      </div>
      <div class="field">
        <label>Größe / Fläche</label>
        <input type="text" placeholder="20 ha" [(ngModel)]="location.area">
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <label>Beschreibung</label>
        <input type="text" placeholder="Beschreibung" [(ngModel)]="location.description">
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <label>Rebsorte</label>
        <input type="text" placeholder="Riesling" [(ngModel)]="location.variety">
      </div>
    </div>
    <h2 class="ui header">Hummusanteil</h2>
    <div class="fields">
      <div class="field">
        <button class="ui button primary" (click)="setGround(0)" [ngClass]="{'highlight': location.ground == 0}">Leichte Böden</button>
        <div class="ui" *ngIf="location.ground == 0">
          <button class="ui button  tiny primary" (click)="setHumus(20)" [ngClass]="{'highlight': location.humus == 20}">unter 1,5 %</button>
          <button class="ui button  tiny primary" (click)="setHumus(0)" [ngClass]="{'highlight': location.humus == 0}">1,5 bis 2,5 %</button>
          <button class="ui button  tiny primary" (click)="setHumus(-40)" [ngClass]="{'highlight': location.humus == -40}">über 2,5 %</button>
        </div>
      </div>
      <div class="field">
        <button class="ui button secondary" (click)="setGround(1)" [ngClass]="{'highlight': location.ground == 1}">Mittlere bis schwere Böden
        </button>
        <div class="ui" *ngIf="location.ground == 1">
          <button class="ui button  tiny secondary" (click)="setHumus(20)" [ngClass]="{'highlight': location.humus == 20}">unter 1,8 %</button>
          <button class="ui button  tiny secondary" (click)="setHumus(0)" [ngClass]="{'highlight': location.humus == 0}">1,8 bis 3,0 %</button>
          <button class="ui button  tiny secondary" (click)="setHumus(-40)" [ngClass]="{'highlight': location.humus == -40}">"über 3,0 %</button>
        </div>
      </div>
      <div class="field">
        <button class="ui button positive" (click)="setGround(2)" [ngClass]="{'highlight': location.ground == 2}">Steinhaltige Böden
        </button>
        <div class="ui" *ngIf="location.ground == 2">
          <button class="ui button  tiny positive" (click)="setHumus(0)" [ngClass]="{'highlight': location.humus == 0}">unter 4,0 %</button>
          <button class="ui button  tiny positive" (click)="setHumus(-40)" [ngClass]="{'highlight': location.humus == -40}">über 4,0 %</button>
        </div>
      </div>
      <div class="field">
        <button class="ui button brown" (click)="setGround(3)" [ngClass]="{'highlight': location.ground == 3}">Skelettreiche Böden
        </button>
        <div class="ui" *ngIf="location.ground == 3">
          <button class="ui button  tiny brown" (click)="setHumus(0)" [ngClass]="{'highlight': location.humus == 0}">unter 7,0 %</button>
          <button class="ui button  tiny brown" (click)="setHumus(-40)" [ngClass]="{'highlight': location.humus == -40}">ab 7,0 %</button>
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="field">
        <button class="ui button red" (click)="cancel()">Abbrechen</button>
      </div>
      <div class="field">
        <div class="ui">
          <button class="ui button"(click)="save()">Speichern</button>
        </div>
      </div>
      <div class="field">
        <button class="ui button"(click)="next()">Speichern & Weiter</button>
      </div>
      <div class="field" *ngIf="!isNewLocation()">
        <button class="ui button red" (click)="delete()">Löschen</button>
      </div>
    </div>
  </div>
</div>
