<div class="grid-container">
  <h1 class="mat-h1">Weinberg erstellen/bearbeiten</h1>

  <div class="vineyard-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="location.name"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Beschreibung" [(ngModel)]="location.description">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Größe/Fläche (ha)" [(ngModel)]="location.area" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Rebsorte" [(ngModel)]="location.variety">
    </mat-form-field>

    <div class="ground-button-container">
      <button mat-button (click)="setGround(0)" [ngClass]="{'highlight': location.ground == 0}">Leichte Böden</button>
      <button mat-button (click)="setGround(1)" [ngClass]="{'highlight': location.ground == 1}">Mittlere bis schwere
        Böden
      </button>
      <button mat-button (click)="setGround(2)" [ngClass]="{'highlight': location.ground == 2}">Steinhaltige Böden
      </button>
      <button mat-button (click)="setGround(3)" [ngClass]="{'highlight': location.ground == 3}">Skelettreiche Böden
      </button>
    </div>

    <div class="ground-button-container" *ngIf="location.ground == 0">
      <button mat-button (click)="setHumus(20)" [ngClass]="{'highlight': location.addsHumus == 20}">unter 1,5 %</button>
      <button mat-button (click)="setHumus(0)" [ngClass]="{'highlight': location.addsHumus == 0}">1,5 bis 2,5 %</button>
      <button mat-button (click)="setHumus(-40)" [ngClass]="{'highlight': location.addsHumus == -40}">über 2,5 %</button>
    </div>

    <div class="ground-button-container" *ngIf="location.ground == 1">
      <button mat-button (click)="setHumus(20)" [ngClass]="{'highlight': location.addsHumus == 20}">unter 1,8 %</button>
      <button mat-button (click)="setHumus(0)" [ngClass]="{'highlight': location.addsHumus == 0}">1,8 bis 3,0 %</button>
      <button mat-button (click)="setHumus(-40)" [ngClass]="{'highlight': location.addsHumus == -40}">"über 3,0 %</button>
    </div>

    <div class="ground-button-container" *ngIf="location.ground == 2">
      <button mat-button (click)="setHumus(0)" [ngClass]="{'highlight': location.addsHumus == 0}">unter 4,0 %</button>
      <button mat-button (click)="setHumus(-40)" [ngClass]="{'highlight': location.addsHumus == -40}">über 4,0 %</button>
    </div>

    <div class="ground-button-container" *ngIf="location.ground == 3">
      <button mat-button (click)="setHumus(0)" [ngClass]="{'highlight': location.addsHumus == 0}">unter 7,0 %</button>
      <button mat-button (click)="setHumus(-40)" [ngClass]="{'highlight': location.addsHumus == -40}">ab 7,0 %</button>
    </div>

    <div class="button-container">
      <button mat-button (click)="save()">Speichern</button>

      <button mat-button (click)="next()">Weiter</button>

      <button mat-button (click)="cancel()">Abbrechen</button>

      <button mat-button (click)="delete()" *ngIf="!isNewLocation()">Löschen</button>
    </div>
  </div>
</div>
