@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body { margin: 0; }

.grid-container {
  margin: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
